<!DOCTYPE html>
<html>
  <head>
    <title>Synctube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    {+header/}
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Sync<span class="highlight">tube</span><span class="muted">.net</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Browse Rooms</a></li>
          <li><a href="https://github.com/Synctube/Synctube/issues"><span class="octicon octicon-mark-github"></span> Issue Tracker</a></li>
        </ul>
      </div>
    </nav>
    {+bodyContent/}
    {+bodyScripts/}
  </body>
</html>