{{> header.html}}
<div class="container">
  <p class="lead">Rooms let you watch the same video at the same time. You can create your own room or join one of these.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Room Name</th>
        <th>Connected Users</th>
      </tr>
    </thead>
    <tbody>
    {{#rooms}}
      <tr>
        <td><a href="/rooms/{{name}}">{{name}}</a></td>
        <td>{{connected}}</td>
      </tr>
    {{/rooms}}
    </tbody>
  </table>
</div>
{{> footer.html}}
