{{> header.html}}
<div class="container">
  <div id="player-wrapper">
    <div id="player"></div>
  </div>
  <div data-bind="with: playlist()">
    <div>
      <form data-bind="submit: seek">
        <input data-bind="value: seekTime" placeholder="hh:mm:ss"></input>
        <button type="submit">Seek</button>
      </form>
      <div>
        <button class="btn btn-default btn-block" data-bind="click: playpause">
          <!-- ko if: playing() -->
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause
          <!-- /ko -->
          <!-- ko ifnot: playing() -->
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play
          <!-- /ko -->
        </button>
      </div>
    </div>
    <form class="form-horizontal" data-bind="submit: add">
      <div class="form-group form-group-sm">
        <label class="sr-only" for="link">
          Add video link
        </label>
        <div class="input-group">
          <input id="link" class="form-control" type="url" data-bind="value: link, valueUpdate: 'afterkeydown'" placeholder="Paste a YouTube URL"></input>
          <span class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit" data-bind="enable: valid">Add</button>
          </span>
        </div>
      </div>
    </form>
    <div class="list-group" data-bind="foreach: entries">
      <a href="#" class="list-group-item" data-bind="click: play">
        <div class="media" data-bind="if: title()">
          <div class="media-left">
            <div class="playlist-thumb">
              <img class="media-object" data-bind="attr: { src: thumbnail }" />
              <span class="label label-default timestamp" data-bind="text: length"></span>
            </div>
          </div>
          <div class="media-right">
            <button type="button" class="close" aria-label="Close" data-bind="click: remove"><span aria-hidden="true">&times;</span></button>
            <div class="playlist-item-title">
              <span class="small" data-bind="text: title()"></span>
            </div>
          </div>
        </div>
        <div class="text-center text-muted" data-bind="ifnot: title()">
          <strong>Loading...</strong>
        </div>
      </a>
    </div>
  </div>
</div>
{{> footer.html}}
